<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1.0">
     <!--<link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700" rel="stylesheet">-->
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
     <link rel="stylesheet" href="app.css">
     <title>Capstone2k17</title>
     <!--<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">-->
</head>
<body>
 <header>
     <div class="container-fluid">
         <div class="row text-centre">
            <img class="img-fluid col-lg-2" src="recycle-bin.svg" alt="logo" style = "height:256 width:256">
            <div class ="col-md-10 display-4 text-center lead">
                Garbage Monitoring System
            </div>
        </div>
     </div>
 </header>
 <div class = "container-fluid">
 <section>
   <div style="margin-bottom:20px">
       <div class ="col-md-5">
          <div  id="status" class = "display-4">BIN STATUS:</div> 
    
          <div id ="level" class = "display-4">GARBAGE LEVEL:</div> 
       </div>
       <div class ="col-md-6 text-center float-right" >
           <object id="status-image" type="image/svg+xml" data ="bin.svg"></object>
       </div>
       <div>
            <iframe style="margin-top:20px" class = "float-left" src="https://www.google.com/maps/d/u/0/embed?mid=1O96507gkyV9fWPjlJ6vaWQQamJuVGjQ6" width="400" height="320"></iframe>
       </div>
   </div>
</section>
</div>


        <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src ="bootstrap.js"></script>-->
    <script type="text/javascript" src="app.js"></script>

</body>